# Editor Files
*~
\#*\#
.idea
.*project*

# Python
*.py[cod]

# Setuptools
dist
MANIFEST
*egg-info*
README.rst

# Coverage
.coverage
cover/

# Buildout
bin
.buildout
cover

# Tox/Virtualenv
env
env2
env3
.tox

# ingnore generated doc stuff
docs/_build
docs/_templates
docs/_static
docs/Makefile
docs/make.bat

