[buildout]
index = http://pypi.digi.com/simple/
parts =
  python
  test
  pydev
develop = .
installed=.buildout/installed.cfg
parts-directory=.buildout/parts
eggs-directory=.buildout/eggs
develop-eggs-directory=.buildout/develop-eggs
        
[python]
recipe = zc.recipe.egg
extra-paths =
  src
eggs =
interpreter = python

[test]
recipe = zc.recipe.egg
extra-paths = ${python:extra-paths}
unzip = true
eggs =
  ${python:eggs}
  nose
  coverage
  mock
arguments = argv=sys.argv + ['--exe']

[pydev]
recipe = pb.recipes.pydev
extra-paths = ${test:extra-paths}
eggs = ${test:eggs}
